
@{
    ViewBag.Title = "Web App Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Web App</h1>
    <div> 
    </div>
</body>
</html>
